.drawer_menu {
  position: fixed;
  top: 100px;
  right: 0;
  height: 100%;
  width: 80%;
  padding-top: 15px;
  background-color: $primary;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  z-index: 1;
  overflow: scroll;
  padding-bottom: 100px;
  transform: translate(500%, -50%);
  transition: transform 0.5s ease-out;
  div {
    width: 131px;
    height: 80px;
    color: white;
    padding: 10px;
    box-sizing: content-box;
  }
  img {
    width: 55px;
  }
}
.open {
  transform: translate(0, 0);
}
.sub_drawer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid white;
  border-radius: 50px;
  margin: 4px;
  cursor: pointer;
  height: 25px !important;
  width: 60% !important;
  &:last-child {
    border: 5px solid red;
  }
}
.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 100px;
  left: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.4);
}

@media (min-width: $drawer-size) {
  .drawer_menu {
    display: none;
  }
  .backdrop {
    display: none;
  }
}
@media (max-width: $mobile-size) {
  .drawer_menu {
    top: 70px;
  }
  .backdrop {
    top: 70px;
  }
}
@media (max-width: 380px) {
  .drawer_menu div {
    padding: 6px;
  }
}
