.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 2;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding: 0;
  background-color: $primary;
  #{&}_logo {
    width: 200px;
    margin: 0px 10px;
  }
  #{&}_divider {
    flex: 1;
  }
  #{&}_divider2 {
    @extend .nav_divider;
    margin-right: 220px;
  }
  #{&}_hamburger {
    display: none;
    & img {
      position: fixed;
      top: 11px;
      right: 17px;
      width: 80px;
      height: 75px;
      padding: 15px;
      z-index: 0;
    }
  }
}
.trigger {
  width: 90px;
  background-color: $primary;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  p {
    padding: 0px 3.9px;
    padding-top: 8px;
    line-height: 90%;
    font-size: 14px;
  }
  img {
    width: 52px;
  }
}
.dropdown_menu {
  column-count: 2;
  width: 500px;
  height: 250px;
  text-align: center;
  font-size: 15px;
  column-gap: 0px;
  display: flex;
  div {
    width: 250px;
  }
  #{&}_item {
    padding: 5px !important;
  }
  #{&}_item:hover {
    background-color: $primary !important;
    color: white !important;
  }
}

@media (max-width: $drawer-size) {
  .dropdown {
    display: none;
  }
  .nav {
    border-bottom: 5px solid #f2f2f2;

    #{&}_hamburger {
      display: block;
    }
  }
}
@media (max-width: $mobile-size) {
  .toolbar {
    height: 70px;
  }
  .nav {
    #{&}_logo {
      width: 160px;
    }
    #{&}_hamburger img {
      top: 17px;
      right: 20px;
      padding: 0px;
      width: 40px;
      height: 35px;
    }
  }
}
