$primary: #4b96b5;
$secondary: lighten($primary, 35%);

$drawer-size: 1300px;
$mobile-size: 750px;

@mixin flexParam {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@mixin borderRadius($tl, $tr, $br, $bl) {
  border-top-left-radius: $tl;
  border-top-right-radius: $tr;
  border-bottom-right-radius: $br;
  border-bottom-left-radius: $bl;
}
