@import "semantic-ui-sass/semantic-ui.scss";
@import "./variables";
@import "./components/DropdownMenu/dropdown";
@import "./components/DrawerMenu/drawer";
@import "./components/DataTable/datatable";

.App {
  text-align: center;
  padding-bottom: 115px;
  .last_update {
    font-size: 20px;
    padding: 5px;
    width: 300px;
    background-color: white;
    margin: auto;
  }
  .main_content {
    margin-top: 100px;
    text-align: center;
  }
}

@media (max-width: 750px) {
  .main_content {
    margin-top: 70px;
  }
}
