.shops {
  @include flexParam();
  background-color: white;
  margin-bottom: 6px;
  position: sticky;
  height: 60px;
  top: 90px;
  #{&}_empty {
    flex: 1 1 auto;
    max-width: 550px;
    min-width: 300px;
    height: 40px;
  }
  img {
    flex: 1 1 auto;
    max-width: 90px;
    min-width: 50px;
    margin: 0px 3px;
    align-self: center;
  }
}
.subcategory {
  @include flexParam();
  justify-content: left;
  max-width: 1225px;
  margin-bottom: 6px;
  padding-left: 25px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  height: 60px;
  @include borderRadius(5px, 5px, 5px, 5px);
  background-color: $primary;
}

.table_column {
  @include flexParam();
  padding-bottom: 6px;
  p {
    flex: 1 1 0;
    max-width: 90px;
    min-width: 50px;
    height: 80px;
    line-height: 80px;
    margin: 0px 3px;
    font-size: 15px;
    background-color: black;
    &:nth-child(even) {
      background-color: $secondary;
    }
    &:nth-child(odd) {
      background-color: #ecebeb;
    }
    &:last-child {
      @include borderRadius(0, 5px, 5px, 0);
    }
  }
}
.article {
  flex: 1 2 0;
  max-width: 550px;
  min-width: 300px;
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  #{&}_image {
    min-width: 80px;
    height: 80px;
    width: 80px;
    background-color: white;
    @include borderRadius(5px, 0, 0, 5px);
  }
  #{&}_name {
    min-width: 150px;
    height: 80px;
    width: 100%;
    margin: 0px 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #{&}_mass {
    min-width: 70px;
    height: 80px;
    line-height: 80px;
    background-color: white;
  }
}
.shop_price {
  @include flexParam();
  display: none;
  height: 30px;
  background: #f2f2f2;
  flex: 1 1 auto;
  max-width: 550px;
  min-width: 300px;
  padding: 0px 2px;
  padding-bottom: 3px;
  margin-bottom: 10px;
  background-color: #d8eff4;
  p {
    flex: 1 1 0;
    min-width: 40px;
    height: 25px;
    line-height: 25px;
    margin: 0px 2px;
    background-color: white;
    font-size: 10px;
    align-self: center;
    &:last-child {
      @include borderRadius(0, 5px, 5px, 0);
    }
    &:first-child {
      @include borderRadius(5px, 0, 0, 5px);
    }
  }
  img {
    flex: 1 1 0;
    min-width: 40px;
    max-height: 25px;
    margin: 0px 2px;
    align-self: center;
    object-fit: contain;
  }
}
.shop_images {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.pag_container {
  padding: 30px;
  .pagination {
    @include flexParam();
    flex-flow: wrap;
    cursor: pointer;

    div {
      position: relative;
      display: block;
      margin-left: -1px;
      width: 40px;
      height: 40px;
      line-height: 37px;
      font-size: 20px;
      font-weight: bold;
      color: $primary;
      background-color: #fff;
      border: 1px solid #dee2e6;
      &:hover {
        background-color: $primary;
        color: white;
        border-color: #dee2e6;
      }
      &:last-child {
        width: 60px;
        @include borderRadius(0, 10px, 10px, 0);
      }
      &:first-child {
        width: 60px;
        @include borderRadius(10px, 0, 0, 10px);
      }
    }
  }
}
@media (max-width: 1000px) {
  .article {
    #{&}__name {
      max-width: 100%;
    }
    #{&}_mass {
      max-width: 35px;
    }
  }
  .table_column p {
    font-size: 10px;
    max-width: 35px;
  }
  .shops img {
    max-width: 35px;
  }
}
@media (max-width: $mobile-size) {
  .shops {
    display: none;
  }
  .table_column {
    padding-bottom: 0px;
    p {
      display: none;
    }
  }
  .shop_price {
    display: flex;
  }
  .article {
    padding: 0px 3px;
    padding-top: 6px;
    background-color: #d8eff4;
    #{&}_mass {
      @include borderRadius(0, 5px, 5px, 0);
    }
  }
  .subcategory {
    margin-bottom: 0px;
    @include borderRadius(5px, 5px, 0, 0);
  }
}
